# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments & IDEs
.venv/
env/
venv/
ENV/
.idea/
.vscode/
*.swp
*.swo

# OS artifacts
.DS_Store
Thumbs.db
